<section id="header" class="header">
<div class="container">
 <div class="row">
   <div class="col-md-5">
     <div class="content w-100">
     <h5 class="header-content">He<span class="header-span">llo</span></h5>
     <p class="text-white">
       Students can attend classes from their homes
      <span class="mt-2">It takes less time to attend an online class</span>
      </p>
      <a routerLink="/AllCourses">
      <button class="btn p-2">All Courses</button>
      </a>
    </div>
   </div>
 </div>
</div>
</section>


<section class="about mb-5">
<div class="container">
  <div class="row">
    <div class="col-md-4 mt-5">
      <div class="content1">
        <h5>Hello</h5>
        <p>
          Students can attend classes from their homes
          It takes less time to attend an online class ...
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="assets/Images/32.png" class="w-100 h-100">
    </div>
    <div class="col-md-4 mt-5">
      <div class="content2">
        <h5>Courses</h5>
        <p>
          Students can attend classes from their homes
          It takes less time to attend an online class ...
        </p>
      </div>
    </div>
  </div>
</div>
</section>
