<section id="header" class="header">
<div class="container">
 <div class="row">
   <div class="col-md-5">
     <div class="content w-100">
     <h5 class="header-content">He<span class="header-span">llo</span></h5>
     <p class="text-white">
       Students can attend classes from their homes
      <span class="mt-2">It takes less time to attend an online class</span>
      </p>
      <a routerLink="">
      <button class="btn p-2">All Courses</button>
      </a>
    </div>
   </div>
 </div>
</div>
</section>
