<section id="login" class="login">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-5 p-5 login_form">
        <h5 class="mb-5">Login</h5>
        <form method="post" [formGroup]="buildForm" (ngSubmit)="login()">
          <div class="form-group">
            <input type="email" name="email" id="email" placeholder="Enter Your Email" class="form-control" formControlName="email">
          </div>
          <div class="form-group mt-3">
           <input type="password" name="password" placeholder="Enter Your Password" id="password" class="form-control" formControlName="password">
         </div>
           <input type="submit" value="login" class="btn mt-4 w-75">
           <p class="mt-2">You Have Not account ? <a routerLink="/register">Register</a></p>
        </form>
      </div>
      <div class="col-md-5">
        <img src="assets/Images/03.jpg" class="w-100 h-100" alt="">
      </div>
    </div>
  </div>
</section>




