<section id="navbar">
<div class="container">
<div class="row">
  <div class="col-2 mt-1 mb-1">
    <a routerLink="/home">
  <img src="assets/Images/logo3.png" alt="" srcset="">
   </a>
  </div>
  <div class="col-md-10">
    <ul class="d-flex w-50 float-end">
      <ng-container *ngIf="!AuthService.isLogin()">
      <li>
        <a routerLink="/register">
          <button class="btn">Register Now</button>
        </a>
      </li>
      <li class="mt-2">
      <a routerLink="/login">
        <button class="btn">login</button>
      </a>
      </li>
       </ng-container>
      <ng-container *ngIf="AuthService.isLogin()">
      <li class="nav-item mt-2" *ngIf="AuthService.UserRole == 'instructor'">
        <a  class="nav-link" routerLink="/build">Build Course</a>
      </li>
      <li class="nav-item mt-2">
        <a class="nav-link">{{AuthService.currentUser}}</a>
      </li>
      <li class="nav-item  mt-2">
        <a  class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ng-container>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
</div>
</section>
